In [14]:
import pandas as pd

In [15]:
clicks = pd.read_csv('./document-examples/train-big-example.csv', na_values='?', encoding="utf-8-sig")

In [16]:
clicks.head()

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759

In [17]:
# Groupby creates several Data frames each filtered by the query parameter
# Useful to use when I have a question as: "For each category I want to calculate...."
# https://www.youtube.com/watch?v=qy0fDqoMJx8
query_gb = clicks.groupby('query')

## Most popular queries

In [18]:
# here "sku" column is randomly chosen column. Any other column would work as well.
query_gb.sku.agg(['count']).sort_values('count', ascending=False)

                                         count
query
lcd tv                                    1116
2622037 2127204 2127213 2121716 2138291    582
Hp touchpad                                484
iPad                                       399
iPhone 4s                                  377
...                                        ...
P65st30                                      1
P65gt30                                      1
P60gt30                                      1
P55gt30                                      1
�g7-1167dx                                   1

[33737 rows x 1 columns]

## Most clicked SKU for "iphone" query

In [19]:
iphones = query_gb.get_group('iphone')

In [20]:
sku_gb = iphones.groupby('sku')

In [21]:
sku_gb.user.agg(['count']).sort_values('count', ascending=False)

          count
sku
1230537      10
3566902       6
1048998       5
3566775       4
3440086       4
...         ...
2961724       1
3003836       1
3005219       1
3011953       1
18268199      1

[71 rows x 1 columns]

## Most clicked "Category" for "iphone" query

In [22]:
category_gb = iphones.groupby('category')

In [23]:
category_gb.user.agg(['count']).sort_values('count', ascending=False)

                    count
category
pcmcat209400050001     57
pcmcat201900050009     11
pcmcat171900050029      5
pcmcat214700050000      5
pcmcat224000050003      4
abcat0208009            3
pcmcat214700050001      3
pcmcat171900050024      3
pcmcat144700050004      2
pcmcat236800050000      2
abcat0307026            2
pcmcat207900050011      1
pcmcat207900050012      1
abcat0101001            1
pcmcat208100050009      1
pcmcat209000050008      1
pcmcat191200050015      1
pcmcat214900050004      1
pcmcat211300050005      1
pcmcat171900050028      1
pcmcat186400050010      1
abcat0107040            1
pcmcat158400050073      1
pcmcat156400050037      1
cat09000                1
cat02716                1
cat02015                1
cat02010                1
abcat0903003            1
abcat0410003            1
abcat0401004            1
abcat0301006            1
abcat0208011            1
pcmcat244200050013      1

## Most popular queries and most selected SKU for it

In [24]:
clicks.groupby(['query', 'sku']).sku.agg(['count']).sort_values(by='count', ascending=False)

                      count
query        sku
lcd tv       2620821    497
Hp touchpad  2842056    264
lcd tv       2138389    225
hp touchpad  2842056    202
Touchpad     2842056    185
...                     ...
Ps3 console  9764462      1
             9912131      1
             9912159      1
Ps3 consoles 3061302      1
�g7-1167dx   2881467      1

[79031 rows x 1 columns]