In [1]:
import pandas as pd

In [2]:
clicks = pd.read_csv('./document-examples/train-big-example.csv', na_values='?', encoding="utf-8-sig")

In [3]:
clicks.head()

,user,sku,category,query,click_time,query_time
0,000000df17cd56a5df4a94074e133c9d4739fae3,2125233,abcat0101001,Televisiones Panasonic 50 pulgadas,2011-09-01 23:44:52.533,2011-09-01 23:43:59.752
1,000001928162247ffaf63185cd8b2a244c78e7c6,2009324,abcat0101001,Sharp,2011-09-05 12:25:37.42,2011-09-05 12:25:01.187
2,000017f79c2b5da56721f22f9fdd726b13daf8e8,1517163,pcmcat193100050014,nook,2011-08-24 12:56:58.91,2011-08-24 12:55:13.012
3,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877125,abcat0101001,rca,2011-10-25 07:18:14.722,2011-10-25 07:16:51.759
4,000017f79c2b5da56721f22f9fdd726b13daf8e8,2877134,abcat0101005,rca,2011-10-25 07:19:51.697,2011-10-25 07:16:51.759

In [4]:
# Groupby creates several Data frames each filtered by the query parameter
# Useful to use when I have a question as: "For each category I want to calculate...."
# https://www.youtube.com/watch?v=qy0fDqoMJx8
query_gb = clicks.groupby('query')

## Most popular queries

In [5]:
# here "sku" column is randomly chosen column. Any other column would work as well.
query_gb.sku.agg(['count']).sort_values('count', ascending=False)

                                         count
query
lcd tv                                      11
Laptops                                      8
2622037 2127204 2127213 2121716 2138291      8
iPad                                         7
virgin mobile                                5
...                                        ...
Season of the Witch                          1
Sharp                                        1
Sirius                                       1
Slide converter                              1
zumba dvd                                    1

[759 rows x 1 columns]

## Number of "iphone" queries

In [6]:
iphones = query_gb.get_group('iphone')

In [15]:
iphones['sku'].count()

2

## Most clicked SKU for "iphone" query

In [8]:
iphones = query_gb.get_group('iphone')

In [9]:
sku_gb = iphones.groupby('sku')

In [10]:
sku_gb.user.agg(['count']).sort_values('count', ascending=False)

         count
sku
1049078      1
1230537      1

## Most clicked "Category" for "iphone" query

In [11]:
category_gb = iphones.groupby('category')

In [12]:
category_gb.user.agg(['count']).sort_values('count', ascending=False)

                    count
category
pcmcat201900050009      1
pcmcat209400050001      1

## Most popular queries and most selected SKU for it

In [13]:
clicks.groupby(['query', 'sku']).sku.agg(['count']).sort_values(by='count', ascending=False)

                      count
query        sku
lcd tv       2138389      5
             2620821      5
Apple tv     1331156      3
iPad         1945531      3
Logitech 650 9837565      2
...                     ...
Psp          3674224      1
             9902392      1
Radio        2158081      1
Raid         9619722      1
zumba dvd    1443926      1

[969 rows x 1 columns]